.bg-verde-1 { background-color: #2fdc2a !important; };
.bg-verde-2 { background-color: #23c920 !important; };
.bg-verde-3 { background-color: #18b615 !important; };
.bg-verde-4 { background-color: #0ca30b !important; };
.bg-verde-5 { background-color: #009000 !important; };

.bg-melon-1 { background-color: #db703c !important;};
.bg-melon-2 { background-color: #e48953 !important;};
.bg-melon-3 { background-color: #eda16a !important;};
.bg-melon-4 { background-color: #f6ba81 !important;};
.bg-melon-5 { background-color: #ffd298 !important;};

.bg-azulacero-1 { background-color: #0084bd !important };
.bg-azulacero-2 { background-color: #0074ab !important };
.bg-azulacero-3 { background-color: #006499 !important };
.bg-azulacero-4 { background-color: #005387 !important };
.bg-azulacero-5 { background-color: #004375 !important };

.bg-azulmar-1 { background-color: #2f94e6 !important };
.bg-azulmar-2 { background-color: #2383d3 !important };
.bg-azulmar-3 { background-color: #1873c1 !important };
.bg-azulmar-4 { background-color: #0c62ae !important };
.bg-azulmar-5 { background-color: #00519b !important };

.bg-rojoteja-1 { background-color: #d95932 !important };
.bg-rojoteja-2 { background-color: #c44526 !important };
.bg-rojoteja-3 { background-color: #b03019 !important };
.bg-rojoteja-4 { background-color: #9b1c0d !important };
.bg-rojoteja-5 { background-color: #860700 !important };